<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <span class="header-title">HN Feed</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>We <3 hacker news!</span>
  </mat-toolbar-row>
</mat-toolbar>
