.table {
  width: 100%;
}

.table tr:hover {
  cursor: pointer;
}

.table tr:hover .delete-item {
    visibility: visible;
}

.table tr {
  background-color: #fff;
}

.table tr:hover {
  background-color: #fafafa;
}

.table td {
  color: #333;
  font-size: 13px;
  border-bottom: 1px solid #ccc;
}

.table .author {
  color: #999;
}

.delete-item {
  visibility: hidden;
}
