<table mat-table [dataSource]="dataSource" class="table">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef style="display: none;">Title</th>
    <td mat-cell *matCellDef="let element">
      {{ element.title }} <span class="author">- {{ element.author }} -</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef style="display: none;">Date</th>
    <td mat-cell *matCellDef="let element">{{ element.date | datePipe }}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef style="display: none;">Action</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="deleteArticle($event, element._id)">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          class="material-icons delete-item"
          >delete</mat-icon
        >
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="onClickRow(row)"
  ></tr>
</table>
