<h1 mat-dialog-title>Dialog</h1>
<div mat-dialog-content>
  <p>Are you sure you want to delete the article?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Delete</button>
</div>
